<%- include('../partials/header') %>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign In</h3>
            </div>
            <div class="card-body">
                <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                    <div class="alert alert-danger">
                        <% errors.forEach(error => { %>
                            <div><%= error.msg %></div>
                        <% }) %>
                    </div>
                <% } %>

                <form action="/accounts/signin" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= typeof email !== 'undefined' ? email : '' %>" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </form>
                
                <div class="text-center mt-3">
                    <p>New user? <a href="/accounts/signup">Sign up now!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
